@import "tailwindcss";

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: 'Courier New', Courier, monospace, system-ui, sans-serif;
  color: #000000;
}
